@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Raleway&display=swap');

:root{
    --main-color: #8B5F3D;
    --light-main-color: #bd8c68;

    --background-color: #F5ECD7;
    --cards-background-color: #ebe2cd;

    --contrast-font-color: #2E2E2E;
    --light-font-color: #ffefc7;

    --box-shadow-color: #c2baa6;
} 
