@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Raleway&display=swap');

:root{
    --main-color: #8B5F3D;
    --light-main-color: #bd8c68;

    --background-color: #F5ECD7;
    --cards-background-color: #ebe2cd;

    --contrast-font-color: #2E2E2E;
    --light-font-color: #ffefc7;

    --box-shadow-color: #c2baa6;
} 

html{
    background: var(--background-color);
    padding: 5.5em 0em 0em 0em;
}

.navbar{ 
    display: inline-flex;
    margin: -6.5em 0em 0em -1em;
    position: fixed;
    width: 101%;
    background: var(--box-shadow-color);
    align-items: center;
    padding: 1em 3em;
}

.sections{
    margin: 1em;
    padding: 1em 5em;
    border-radius: 12px;
    background: var(--cards-background-color);
    box-shadow: 2px 2px 30px var(--box-shadow-color);
    display: inline-flex;
    align-items: center;
    text-align: justify;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 50px;
}

.section-1 img{
    border-radius: 20px;
}

.sections img{
    margin: 2em;
    box-shadow: 5px 5px 15px black;
}
